<span id="requestspinner" class="rs-stack rs-5x hidden" title="{{ _('Request in progress...') }}">
<i class="rs rs-square rs-stack-2x"></i>
<i class="rs rs-spinner rs-spin rs-pulse rs-stack-1x rs-inverse"></i>
</span>
